{{!-- <div class="card edit-post">
    <div class="card-header">
        <h2>Edit Post</h2>
    </div>
    <form id="edit-form" class="card-body">
        <label for="post-title" class="form-label">Title</label>
        <input type="text" name="post-title" class="form-input">
        <label for="post-body" class="form-label">Content</label>
        <textarea name="post-body" rows="3" class="form-input"></textarea>
        <button class="btn" type="submit">Create Post</button>
    </form>
</div>

<script src="/js/new.js"></script> --}}

<article class="box m-3">
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2 class="content is-large ml-3">
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input name="post-title" type="text" class="input ml-3" value="{{post.title}}" />
    </div>
      <div>
      <input name="post-content" type="text" class="textarea m-3" value="{{post.post_content}}" />
    </div>

    <div>
      Written on {{format_date post.created_at}}
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <button type="submit" class="button is-link mt-3">Save</button>
    <button type="button" class="delete-post-btn button is-danger m-3">Delete</button>
  </form>
</article>

{{#if loggedIn}}
<div class="box m-3">
  <form class="comment-form m-3">
    <textarea class="textarea" name="comment-body"></textarea>
    <button type="submit" class="button mt-3 is-primary">Add Comment</button>
  </form>
</div>
{{/if}}

{{> comments post.comments}}


</article>


<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>